body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(270deg, #cc99b0, #eccdcd, #eccdcd);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#container {
  position: relative;
  width: 400px;
  height: 225px;
  background: gray;
  margin-top: 10%;
  margin-left: 2rem;
  border-radius: 10px;
}
#container::after {
  content: "End";
  color: lightgray;
  font-size: 40px;
  font-weight: bold;
  margin-left: 40%;
  opacity: 0.5;
}
div#container figure {
  position: absolute;
  left: 0px;
}
div#container:hover figure {
  left: 600px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: white;
  border-radius: 10px;
}
.img-border {
  border-radius: 10px;
}
div#container figure figcaption.text {
  transition: all 1.5s ease;
  background-color: white;
  text-align: center;
}
div#container:hover figure figcaption.text {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  text-decoration: underline;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
span {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
div#container figure.pic1 {
  z-index: 10;
  transition: left 2s, z-index 2s step-end;
}
div#container figure.pic2 {
  z-index: 9;
  transition: left 2s 2s, z-index 2s step-end 2s;
}
div#container figure.pic3 {
  z-index: 8;
  transition: left 2s 4s, z-index 2s step-end 4s;
}
div#container figure.pic4 {
  z-index: 7;
  transition: left 2s 6s, z-index 2s step-end 6s;
}
div#container figure.pic5 {
  z-index: 6;
  transition: left 2s 8s, z-index 2s step-end 8s;
}

div#container:hover figure.pic1 {
  z-index: 1;
}
div#container:hover figure.pic2 {
  z-index: 2;
}
div#container:hover figure.pic3 {
  z-index: 3;
}
div#container:hover figure.pic4 {
  z-index: 4;
}
div#container:hover figure.pic5 {
  z-index: 5;
}

.img-flowers {
  margin-top: 0px;
  margin-left: 0px;
}
